html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #262B31;
    color: #14171C;
}

h1 {
    font-size: 210px;
    color: #403F64;
    text-align: center;
    letter-spacing: 20px;
    font-weight: bolder;
    margin: 0;
    z-index: 200;
    line-height: 190px;
}

h2 {
    font-size: 80px;
    color: #403F64;
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    z-index: 200;
    margin-bottom: 50px;
}

h3 {
    font-size: 20px;
    color: #797892;
    text-align: center;
    font-weight: bolder;
}

h4 {
    color: white;
}

h5 {
    font-size: 20px;
    color: #797892;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

#app {
    height: 100%;
    width: 100%;
}

.inputnum {
    width: 40px;
}

/* ------------------------ BOOTSTRAP OVERRIDE ------------------------ */

.btn-outline-secondary {
    color: #788191 !important;
    border-color: #788191 !important;
}


.btn-outline-secondary:hover {
    color: white !important;
    background-color: #403F64 !important;
    border-color: white !important;
}

.btn-outline-secondary:focus {
    box-shadow: none !important;
}

.btn-outline-light:focus {
    box-shadow: none !important;
}


/* ------------------------ MENU ------------------------ */
.entry {
    height: 100%;
    width: 100%;
    background-color: #32304E;
    position: fixed;
    z-index: 900;
}

.cover {
    width: 800px;
    height: 500px;
    position: absolute;
    top: 49%;
    left: 50%;
    margin: -250px 0 0 -400px;
    background-color: transparent;
    z-index: 1000;
    text-align: center;
}

.fallcard {
    width: 189px;
    height: 264px;
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 950;
}

.about {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 8px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.200);
    z-index: 9999;
    cursor: pointer;
}

/* ------------------------ BOARD ------------------------ */

.board {
    width: 75%;
    height: 500px;
    position: absolute;
    margin-left: 25%;
    background-color: #222040;
    box-shadow: inset 2px -3px 6px 1px #14171c;
}

.discardPile {
    width: 200px;
    height: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
}

.cardBox {
    background-color: #1A1839;
    border: 2px solid #14171c ;
    box-shadow: 2px -3px 6px 1px #14171c;
    height: 220px;
    width: 160px;
    position: absolute;
    margin: 20px 0 0 20px;
}

.whoseturn {
    color: white; 
    margin: 200% 0 50px 20px;
    position: relative;
    bottom: 0;
}

.playerMenu {
    width: 75%;
    height: 100%;
    display: inline-block;
    position: absolute;
}

.player {
    width: 150px;
    min-height: 150px;
    background-color: #1A1839;
    display: inline-block;
    margin: 20px 0 0 30px;
    color: white;
    overflow: hidden;
    padding: 10px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
}

.active {
    background-color: #32304E !important;
}

.effects {
    width: 130px;
    height: 30px;
    position: relative;
    display: inline-block;
    color: white;
    background-color: #2b2947;
    font-size: medium;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 10px;
}

.cross {
    position: absolute;
    font-size: small;
    display: inline-block;
    color: hsla(0, 0%, 100%, 0.500);
    padding: 9px 9px 0 0;
    cursor: pointer;
    right:0;
}

.last {
    display: inline-block;
    /* transform: translate(0, -20%); */
    margin-left: 15px !important;
    margin-top: 15px !important;
}

/* ------------------------ HOST SIDEBAR ------------------------ */

.hostMenu {
    width: 300px;
    min-height: 100px;
    background-color: #1A1839;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    /* display: inline-block;
    position: absolute; */
    box-shadow: 1px 1px 6px 1px #14171C;
    z-index: 800;
    padding: 15px;
}

.buttonpanel {
    margin: 30px 30px 30px 0;
    background-color: #222040;
    padding: 20px;
}

.hostinbut {
    margin: 10px 0 10px 0;
    display: inline-block;
}

.hostbut {
    margin: 10px 0 10px 0;
    display: block;
}

.dropdown-item {
    cursor: pointer;
}

.tooltip-inner {
    background-color: white;
    color: black;
}

.bs-tooltip-top .tooltip-arrow::before{
    border-top-color: white !important;
}

.bs-tooltip-start .tooltip-arrow::before{
    border-left-color: white !important;
}
/* ------------------------ CARD SIDEBAR ------------------------ */
.controller {
    width: 25%;
    min-width: 200px;
    height: 100%;
    background-color: #1A1839;
    display: inline-block;
    position: absolute;
    box-shadow: 1px 1px 6px 1px #14171C;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;

    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.controller::-webkit-scrollbar {
    display: none;
}

.turns {
    width: 80%;
    margin: 10%;
    height: 100px;
    background-color: #222040;
    color: white;
}

.addcard {
    background-color: transparent;
    pointer-events: painted;
    border-style: none;
    position: absolute;
    right: 11%;
    margin-top: 2%;
    cursor: pointer;
}

.fa-plus-square {
    color: white;
    cursor: pointer;
    opacity: 70%;
}

.cardlist {
    color: rgb(255 255 255 / 70%);
    background-color: #222040;
    display: block;
    /* overflow: hidden;
    height: 120px; */
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: small;
}

.title {
    font-size: medium;
    display: inline-block;
    margin-bottom: 10px;
    width: 85%;
}
.point {
    font-size: medium;
    display: inline-block;
    position: absolute;
    right: 14%;
}

.desc {
    display: inline-block;
    text-align: justify;
}



/* ------------------------ HAND ------------------------ */
.hand {
    width: 75%;
    height: 230px;
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #32304E;
    background: linear-gradient(90deg, rgba(41,39,64,1) 0%, rgba(50,48,78,1) 7%, rgba(50,48,78,1) 93%, rgba(41,39,64,1) 100%);    
    box-shadow: 3px -2px 6px 1px #14171C;
}

/* .hand:hover .hand-buffer {
    height: 430px;
    margin-top:-200px;
} */

/* https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6 */
.hand-buffer {
    height: 230px;
    margin-left: 5%;
    width: 90%;

    /* pointer-events: none; */

    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hand-buffer::-webkit-scrollbar {
    display: none;
}

.hand-sticker {
    position:absolute;
    bottom: 0;
    pointer-events: all;
    width: 100%;
    height: 230px;
    -webkit-overflow-scrolling: touch;

    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.hand-sticker::-webkit-scrollbar {
    display: none;
}

/* ------------------------ CARDS ------------------------ */
.card {
    height: 190px;
    width: 130px;

    pointer-events: all;
   
    margin: auto 20px 20px 20px;
    border-radius: 15px;
    background: seashell url(./paper2.jpg) no-repeat center top;
    display: inline-block;
    padding: 10px;
    flex: 0 0 auto;
    box-shadow: 2px 2px 4px 2px #14171C;
}

  /* Tooltip text */
  .card .tooltiptext {
    font-size: small;
    opacity: 0;
    transition: opacity 0.5s;
    min-width: 190px;
    max-height: 200px;
    background-color: #2E3136;
    border: 1px solid rgba(255,255,255,.5);
    color: rgba(255,255,255,.7);
    text-align: center;
    border-radius: 6px;
    text-align: left;
    padding: 10px;
    margin: auto;
    
    margin-left: -30px;
    bottom: 190px;
   
    position: relative;
    pointer-events: none;

    transform: translateY(-100%);
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .card:hover .tooltiptext {
    opacity: 1;
    position:relative;
  }

  .card .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255,255,255,.7) transparent transparent transparent;
  }

.card-inner {
    /* position: absolute;
    top: 20px; */
    height: 150px;
    text-align: center;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
}

.cardheader {
    display:inline-block;
    margin-top: 5%;
    height: 75%;
    bottom: 5px;

}

.cardfooter {
    display:inline-block;
    font-size: small;
}

.button1 {
    height: 100px;
    width: 100px;
    background-color: #1A1839;
    position:absolute;
}

.discard {
    font-size: small;
    display: inline-block;
    color: rgba(0, 0, 0, 0.3);
    margin-left: 95px;
    cursor: pointer;
}